.content{
    display: grid;
    grid-template-columns: 0.5fr 0.5fr 0.5fr;
    gap: 30px;
    height: 500px;
    width: 800px;
    margin-left: 50px;

}

.dashboard-card {
    background-color: white;
    padding: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    height: 150px;
    width: 250px;
    margin-top: 80px;
}

.dashboard-card p{
    height: 50px;
    width: 250px;
}
.dashboard-card h2 {
    margin-top: 0;
}


@media (max-width: 768px) {
    .content {
        grid-template-columns: repeat(1, 0.5fr);
        width: 90%;
        margin-left: auto;
        margin-right: auto;
        gap: 10px;
        height: auto;
    }

    .dashboard-card {
        width: 100px;
        height: 140px;
        margin-top: 60px;
    }

    .dashboard-card p {
        width: 200px;
    }
}

/* Mobile devices (480px and below) */
/* @media (max-width: 480px) {
    .content {
        grid-template-columns: 1fr;
        width: 90%;
        margin-left: auto;
        margin-right: auto;
        gap: 15px;
        height: auto;
    }

    .dashboard-card {
        width: 100%;
        height: auto;
        padding: 15px;
        margin-top: 40px;
    }

    .dashboard-card p {
        width: 100%;
        height: auto;
    }
} */ 
