*{
    padding: 0px;
    margin: 0px;
}
/* =======Navbar section===== */
.navbar-logo{
    height: 80px;
    width: 110px;
}

#back_img{
    background-image: url("../Images/hop_back_img.webp");
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100wh;
}

/* Hero section==== */

#slider{
    height: 50%;
    width: 100%;
}
.carousel-item{
    height: 85vh;

}