{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>{% block title %} Hospital Admin Dashboard {% endblock %}</title>
    <!-- {% block head %} {% endblock %} -->
    {% block css %} {% endblock %}
</head>
<body>
<div class="container">
    <div class="sidebar">
        <div class="logo">
            <h2>Hospital Admin</h2>
        </div>
        <nav>
            <ul>
                <li><a href="#dashboard">Dashboard</a></li>
                <li><a href="{% url 'department'%}">Add Department</a></li>
                <li><a href="{% url 'registration' %}">Manage Doctors</a></li>
                <li><a href="#patients">Manage Patients</a></li>
                <li><a href="{% url 'appointments' %}">Appointments</a></li>
                <li><a href="{% url 'doctorReports' %}">All Doctors</a></li>
                <li><a href="#settings">Settings</a></li>
            </ul>
        </nav>
    </div>

    <div class="main-content">
        <header>
            <h1>Admin Dashboard</h1>
            <div class="user-info">
                <span>Welcome, Admin</span>
                <a href="{% url 'logout' %}"><button class="logout-btn" >Logout</button></a>
            </div>
        </header>
        
        <div id="content">
        {% block Content %} 
        
        {% endblock %} 
        </div>
    </div>
    
    </div>
</body>
</html>