{% extends 'base.html' %}
{% load static %}

{% block title %} Doctors Reports {% endblock %}
{% block css %} <link rel="stylesheet" href="{% static 'css/DoctorReports.css' %}"> {% endblock %}

{% block Content %}
<div class="container">
<form action="{% url 'search' %}" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <input type="search" name="search">
    <button type="submit">serch</button>
</form>
<a href="{% url 'doctorReports' %}">Reset All Filter</a>

    <h1 style="color: white;">Doctors List</h1>
    <table border="2px solid white" id="table-data" >
        
            <tr>
                <th>S.No</th>
                <th>Name</th>
                <th>Email</th>
                <th>Contact</th>
                <th>Department</th>
                <th>Date of Joining</th>
                <th>Doctor password</th>
                <th>All Appointments</th>
                <th>Edit</th>
                <th>Delete</th> 
            </tr>
    
            {% for i in data %}
            <tr>
                <td>{{ forloop.counter }}</td>
                <td>{{ i.doc_name }}</td>
                <td>{{ i.doc_email }}</td>
                <td>{{ i.doc_contact }}</td>
                <td>{{ i.doc_dep }}</td>
                <td>{{ i.doc_DOJ }}</td>
                <td>{{ i.doc_password }}</td>
            {% comment %} <td><button><a href="{% url 'edituser' pk=i.id %}"><i class="fa-solid fa-pen-to-square"></i></a></button></td> {% endcomment %}
            <td><button><a href="{% url 'removedoctor' pk=i.id %}"><i class="fa-solid fa-trash"></i></a></button></td>
            
            </tr>
            {% endfor %}
    
    </table>
</div>

{% endblock%}